@import url(colors.css);

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    width: 100%;
    transition: background ease-out 0.2;
}

.navbar-collapse{
    width: auto;
}

.nav-link{
    padding:0;
}

.navbarstyle ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-image: linear-gradient(90deg, var(--dark) 20%, var(--wine) 50%, var(--blue) 75%, var(--pale-white) 90%);
    display: block;
    transition: 0.3s;
}
.navbarstyle ul li:hover::after{
    width: 100%;
}


@media(max-width:991.8px){
    .navbarstyle ul li:hover::after{
        width: 10%;
    }    
}