@import url(colors.css);

body{
    width: 100%;
    min-height: 100vh;    
}

header{
    width: 100%;
    transition: background ease-out 0.2;
}

.navbar-collapse{
    width: auto;
}

.nav-link{
    border-bottom: 2px solid transparent;
    /* transition: 0.5s; */
}

.nav-link:hover{
    border-bottom: 2px solid var(--wine);
}

@media(min-width:992px){
    .nav-link{
        margin-left: 10px;
        margin-right: 10px;
    }
}


@media(max-width:991.8px){
    .navbar-colapse{
        width: 100%;
    }

    .nav-link:hover{
        
    }
}
